<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Farmasi. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="hello_world" xsi:type="object">Farmasi\Catalog\Console\Command\HelloWorldCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="Catalog_to_order_item" type="Farmasi\Catalog\Model\Plugin\Quote\CatalogToOrderItem"/>
    </type>
</config>